{# templates/publication/edit.html.twig #}

{% extends 'base.html.twig' %}

{% block body %}
    <h1>Edit Publication</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button type="submit">Save changes</button>
    {{ form_end(form) }}

    <a href="{{ path('publication_index') }}">Back to the list</a>
{% endblock %}
